/* Features section styles */
.features {
    padding: 4rem 0;
    background-color: var(--primary-color);
}
.features-header {
    text-align: center;
    margin-bottom: 4rem;
}

.features-header h2 {
    font-size: 2.5rem;
    color: black;
    margin-bottom: 1rem;
}

.features-header p {
    color: var(--text-color);
    max-width: 600px;
    margin: 0 auto;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.feature-card {
    background-color: #f6f6f6;
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.1);
}

.feature-card:hover {
    transform: translateY(-5px);
}

.feature-card h3 {
    color: black;
    margin-bottom: 1rem;
}

.feature-card p {
    color: var(--text-color);
}